<button class="call" onclick="call();">
    Call
</button>

<p>
    <a href="/qs2">Example 2 &gt;&gt;</a>
</p>

<script type="text/javascript">

    /* Create the Client with a Capability Token */
    Twilio.Device.setup("<%= token %>", {
        debug: true
    });

    /* Let us know when the client is ready. */
    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });

    /* Report any errors on the screen */
    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });

    /* Connect to Twilio when we call this function. */
    function call() {
        Twilio.Device.connect();
    }
</script>