<button class="call" onclick="call();">
    Call
</button>

<!-- use an onclick action to hang up the call when the user presses
the button -->
<button class="hangup" onclick="hangup();">
    Hangup
</button>

<p>
    <a href="/qs1">&lt;&lt; Example 1</a> | <a href="/qs3">Example 3 &gt;&gt;</a>
</p>

<script type="text/javascript">

    Twilio.Device.setup("<%= token %>", {debug: true});

    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });

    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });

    /* Log a message when a call disconnects. */
    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });

    function call() {
        Twilio.Device.connect();
    }

    /* A function to end a connection to Twilio. */
    function hangup() {
        Twilio.Device.disconnectAll();
    }
</script>