<button class="call" onclick="call();">
    Call
</button>

<button class="hangup" onclick="hangup();">
    Hangup
</button>

<input type="text" id="number" name="number" placeholder="Enter a phone number to call"/>

<p>
    <a href="/qs3">&lt;&lt; Example 3</a></a>
</p>

<script type="text/javascript">

    Twilio.Device.setup("<%= token %>", {debug: true});

    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });

    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });

    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });

    Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
    });

    function call() {
        // get the phone number to connect the call to
        Twilio.Device.connect({
            PhoneNumber:$("#number").val()
        });
    }

    function hangup() {
        Twilio.Device.disconnectAll();
    }
</script>