module.exports.Credentials = {
    sid: 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
    authToken: 'dcXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
    outgoingId: '+1XXXXXXXXX',
    testToNumber: '+XXXXXXXXXXX',
    hostname: 'example.com'
};
