### Dot files ###
.*

### Logs ###
logs
*.log

### Backup package.json files created during release ###
*.bak

### Runtime data ###
pids
*.pid
*.seed

### NPM modules ###
node_modules

### Spec and test coverage ###
spec

### Test coverage ###
coverage

### Custom ignores ###
config.js
.idea

### typedoc dir ###
docs

### ide / editors ###
.vscode

yarn.lock

**/.openapi-generator*
lib
