language: node_js
node_js:
- node
- lts/*
- '8'
- '6'
services:
- docker
jobs:
  include:
  - language: node_js
    node_js: '10'
    after_success:
    - sonar-scanner
script:
- npm run ci
deploy:
- provider: script
  script: make docker-build && make docker-push
  skip_cleanup: true
  on:
    tags: true
    node: '8'
- provider: npm
  email: team_interfaces@twilio.com
  api_key: "$NPM_TOKEN"
  on:
    tags: true
    node: '8'
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: jQ2AF/kqOdO7HxO2y56yzLH2jIm/mvV1fprAEKo8NdLRXq3HRpFQbEumMlZRl8vr+BD173LYRmzm5C5Sk4ef9Nt+y6KJRWpGkkTYts/xSmmE30xVmRD7vzMQthjyPhwdp2EF/OP4hL1BQ+Xod2WSjaqJUTutFAZggB/Umfg+PBo=
addons:
  sonarcloud:
    organization: twilio
    token:
      secure: nCBPvVz97nV1YyOxwyHtgkWBXpICTVGk5XzMBoml2fp1EY8UP2tdik8IbhwFnFv5jyrxWSfo7hoGMciQZu65cIFl1S+3DjI0G3oyPdBkfi8kgRlt4cThK/saiJYHlFee96rvVMvcvpWX4s0XcKww8WjKVSkhvhAZ8d2NoZz+bxw=
