<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//static0.twilio.com/packages/quickstart/client.css"/>
    <link type="text/css" rel="stylesheet" href="/examples.css"/>
</head>
<body>

<%- body %>

<div id="log">Loading pigeons...</div>
</body>
</html>