<button class="call" onclick="call();">
    Call
</button>

<!-- use an onclick action to hang up the call when the user presses
the button -->
<button class="hangup" onclick="hangup();">
    Hangup
</button>

<p>
    <a href="/qs2">&lt;&lt; Example 2</a> | <a href="/qs4">Example 4 &gt;&gt;</a>
</p>

<script type="text/javascript">

    Twilio.Device.setup("<%= token %>", {debug: true});

    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });

    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });

    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });

    /* Listen for incoming connections */
    Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
    });

    function call() {
        Twilio.Device.connect();
    }

    function hangup() {
        Twilio.Device.disconnectAll();
    }
</script>