name: 'Close stale issues'
on:
  schedule:
    - cron: '0 9 * * *'
permissions:
  issues: write # to close stale issues

jobs:
  stale:
    name: 'Close month old issues'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6
        with:
          start-date: '2022-01-01T00:00:00Z' # issues created after this date will be considered
          stale-issue-message: 'This issue is stale because it has been open for 30 days with no activity. Please remove stale label or comment or this issue will be closed in 30 days.'
          close-issue-message: 'This issue was closed because it has been stalled for 30 days with no activity. Please open a new issue if the issue is still relevant, linking to this one.'
          days-before-issue-stale: 30
          days-before-issue-close: 30
          exempt-all-milestones: true
          exempt-issue-labels: "type: community enhancement, type: twilio enhancement"
  stale-legacy:
    name: 'Clean up legacy issues similarly'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6
        with:
          stale-issue-message: 'This issue is stale because it has been open for 1 year with no activity. Remove stale label or comment or this will be closed in 30 days.'
          close-issue-message: 'This issue was closed because it has been stalled for 30 days with no activity. Please open a new issue if the issue is still relevant, linking to this one.'
          days-before-issue-stale: 365
          days-before-issue-close: 30
          exempt-all-milestones: true
          exempt-issue-labels: "type: community enhancement, type: twilio enhancement"
